/*
.sidebar {
  background-color: #fff;
  padding: 1% 2%;
  /* box-shadow: 5px 0 10px -5px rgba(242, 244, 247, 0.75); */
/*}

.sidebar-link {
  font-size: 13px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.sidebar-img-div {
  width: 100%;
  padding-top: 1%;
}

.sidebar-img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
*/



/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 7rem;
  padding: 2rem 1rem;
  background-color: #212529!important;
  z-index: 1050;
  transition: width 0.1s ease-in-out;
}
:root {
--bs-link-color : #fff;
}


/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
  width: 16rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
  width: 3rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
  text-align: center;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h2 {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
  color: #fff;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
  opacity: 1;
}

/* position the content relative to the collapsed sidebar */
.content {
  margin-left: 7rem;
  margin-right: 1rem;
  padding: 2rem 1rem;
}

.sidebar-hr{
  border-top: 1px solid white;
}

.fbk-logo-div {
  position: relative;
  padding-top: 130%;
  bottom: 0;
  height: 10%;
  width: 100%;
}

.fbk-logo {
  display: block;
  max-width: 45%;
  margin: auto;
}
