* {
  margin: 0;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

.section {
  background-color: #eff4f9;
  padding-top: 2%;
  padding-left: 1%;
  height: 100%;
}

.sidebar {
  background-color: #fff;
  padding-top: 2%;
}

.sidebar-img-div {
  width: 100%;
}

.sidebar-img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-link {
  font-size: 13px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.btn {
  border-radius: 10px;
}

.dropdown {
  color: black;
  font-size: 12px;
}

.graph-dropdown {
  flex-grow: 3;
  margin-left: 2%;
  margin-right: 40%;
  margin-top: 2%;
  font-weight: 600;
}

.toggle {
  margin-top: 2%;
  margin-right: 2%;
  font-weight: 600;
}

.fbk-main-plot {
  background-color: white;
  padding: 2%;
  height: 70%;
}

.content {
  height: 100%;
}

.transparent {
  background-color: transparent;
}

.fullHeightAndPadding {
  height: 90vh;
}

.fullHeight {
  height: 100vh;
}

.dropdownWrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 0 0 10px 0;
}

.dropdownWrapper > * {
  width: 45%;
}
