body{
    background-color: #eff4f9;
}

.section-header {
    display: flex;
    margin-left: 10rem;
    font-weight: 800;
    font-size: 2rem;
    padding: 2rem 4rem;
}

.sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10rem;
        padding: 2rem 1rem;
        background-color: #fff;
}

.sidebar-img-div {
    width: 100%;
}

.sidebar-img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-link {
    font-size: 13px;
    font-weight: 600;
}