/* style animation rotatin fucsio and green

.card-sensors {
  --bs-card-box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-card-border-radius: 50%;
  width: 3.5rem;
  height:3.5rem;
  margin-right:2rem;
  /*font-size:12px;
  font-weight:400;
  --bs-card-spacer-y:0.5rem;
  --bs-card-spacer-x:0.5rem;



  background: none;
  border: none;
 
  z-index: 0;
  transition: .3s;
  cursor: pointer;
}


.card-sensors {
  width: 600px;
  height: 600px;
  font-size:30px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 50%; 
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
}

.card-sensors:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 2px;
  border-radius: 50%; 
  background: conic-gradient(
        #ff53bb ,
        #0000 30deg 120deg,
        #00f8d3 150deg 180deg,
        #0000 210deg 300deg,
        #ff53bb 330deg
    );
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: intersect
}
.card-sensors:after {
  content: "";
  position: absolute;
  inset: 0px;
  filter: blur(120px);
  opacity: .5;
}

.card-sensors:before,
.card-sensors:after {
  transition:.5s, 99999s 99999s transform;
}
.card-sensors:hover{
  background:
    radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
}

.card-sensors:hover:before,
.card-sensors:hover:after {
  transform: rotate(36000deg);
  transition: .5s,600s linear transform;
}
.card-sensors:before {
  background-color: #222;
  
}*/



/* JUST LINE

.card-sensors {
  box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-card-border-radius: 50%;
  width: 3.5rem;
  height:3.5rem;
  margin-right:2rem;
  /*font-size:12px;
  font-weight:400;
  --bs-card-spacer-y:0.5rem;
  --bs-card-spacer-x:0.5rem;
  ##
  background: linear-gradient(#f9f047, #0fd850);
  --bs-card-border-width: 0px;
  


}
.card-body {
  background-color: white;
  border-radius: 50%;
  margin: 1px;
  padding: 0px;
}







conic-gradient(
        #fff ,
        #0000 1deg,
        #0fd850,
        #0000 360deg
    )

*/
